## Recommendation System using Pearson's Correlation

In [ ]:
import pandas as pd

# Skip date
df = pd.read_csv("D:/Full_Data.csv")
df_title = pd.read_csv(
    "./movie_titles.csv",
    encoding="ISO-8859-1",
    header=None,
    names=["Movie_Id", "Year", "Name"],
)
df_title.set_index("Movie_Id", inplace=True)
print("Dataset shape: {}".format(df.shape))

Dataset shape: (17337458, 3)

In [ ]:
df.head()

   Cust_Id  Rating  Movie_Id
0   712664     5.0         3
1  1331154     4.0         3
2  2632461     3.0         3
3    44937     5.0         3
4   656399     4.0         3

In [ ]:
df_title.head()

            Year                          Name
Movie_Id
1         2003.0               Dinosaur Planet
2         2004.0    Isle of Man TT 2004 Review
3         1997.0                     Character
4         1994.0  Paula Abdul's Get Up & Dance
5         2004.0      The Rise and Fall of ECW

In [ ]:
f = ["count", "mean"]

df_movie_summary = df.groupby("Movie_Id")["Rating"].agg(f)
df_movie_summary.index = df_movie_summary.index.map(int)

In [ ]:
df_p = pd.pivot_table(df, values="Rating", index="Cust_Id", columns="Movie_Id")
df_p.shape

(143458, 1350)

In [ ]:
def recommend(movie_title, min_count):
    print("For movie ({})".format(movie_title))
    print("- Top 10 movies recommended based on Pearsons'R correlation - ")
    i = int(df_title.index[df_title["Name"] == movie_title][0])
    target = df_p[i]
    similar_to_target = df_p.corrwith(target)
    corr_target = pd.DataFrame(similar_to_target, columns=["PearsonR"])
    corr_target.dropna(inplace=True)
    corr_target = corr_target.sort_values("PearsonR", ascending=False)
    corr_target.index = corr_target.index.map(int)
    corr_target = corr_target.join(df_title).join(df_movie_summary)[
        ["PearsonR", "Name", "count", "mean"]
    ]
    print(corr_target[corr_target["count"] > min_count][:10].to_string(index=False))

In [ ]:
recommend("X2: X-Men United", 0)

For movie (X2: X-Men United)
- Top 10 movies recommended based on Pearsons'R correlation -
 PearsonR                                                  Name  count     mean
 1.000000                                      X2: X-Men United  73684 3.929157
 0.384550                              Batman Beyond: The Movie   2275 3.730549
 0.375967                                        Justice League   3049 3.692030
 0.361393                      Justice League: Justice on Trial   2499 3.705482
 0.338025                    Batman Beyond: Return of the Joker   3250 3.590769
 0.335256                                         Batman Begins  37558 4.244315
 0.328229                          Batman: Mask of the Phantasm   2523 3.753468
 0.327040 Batman: The Animated Series: Tales of the Dark Knight   2179 3.581000
 0.316666                       Dragon Ball Z: Super Android 13   1859 3.348037
 0.316166                              Mortal Kombat: The Movie   6984 3.150200

In [ ]:
recommend("The Amityville Horror", 0)

For movie (The Amityville Horror)
- Top 10 movies recommended based on Pearsons'R correlation -
 PearsonR                                  Name  count     mean
 1.000000                 The Amityville Horror  10492 3.448246
 0.486752          Omen III: The Final Conflict   2779 3.170925
 0.481592                    Holiday in the Sun   1468 3.297003
 0.470641                  Children of the Corn  12498 3.212834
 0.470275                                  Cujo  10676 3.296834
 0.459427                       Damien: Omen II   4715 3.365005
 0.454038 Children of the Corn 4: The Gathering   1863 2.334944
 0.453149                             Inu-Yasha   1042 4.457774
 0.445397                          Jo Jo Dancer   2061 2.961184
 0.443583           Candyman 3: Day of the Dead   1734 2.839100